<html>
    <head>
        <title>
            Post-List
        </title>
    </head>
    <body>
        <h1>
            Logger
        </h1>
        <p>
            A logger for logging things that Mike wants to log.
        </p>
        <form action={{ip}} method="post">
            <select name="action" id="action">
                <option value="" disabled="disabled" selected="selected">None</option>
                {% for name in names %}
                    <option value={{name}}>{{name}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="submit" value="submit">Submit</button>
            <table>
                {% for dat in dats %}
                <tr>
                    <td>
                    {{dat[0]}}
                    <td>
                    <td>
                    {{dat[1]}}
                    <td>

                </tr>
                {% endfor %}
           </table>
        </form>
    </body>
</html>
