<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>
            Manager
        </title>
    </head>
    <body>
        <h1>
            Manager
        </h1>
        <form action={{ip}} method="post">
            <button type="submit" class="btn" name="submit" value="submit">Submit</button>
            <table class="table-bordered">
                <tr>
                    <th>
                    Username
                    </th>
                    <th>
                    Password
                    </th>
                </tr>
                {% for dat in dats %}
                <tr>
                    <td>
                    {{dat[0]}}
                    </td>
                    <td>
                    {{dat[1]}}
                    </td>

                </tr>
                {% endfor %}
           </table>
        </form>
    </body>
</html>
